[submodule "example-mesh-booleans"]
	path = example-mesh-booleans
	url = https://github.com/brgcode/example-mesh-booleans
[submodule "example-mesh-subdivision-schemes"]
	path = example-mesh-subdivision-schemes
	url = https://github.com/brgcode/example-mesh-subdivision-schemes
