[submodule "example-mesh-booleans"]
	path = example-mesh-booleans
	url = https://github.com/brgcode/example-mesh-booleans
[submodule "example-mesh-subdivision-schemes"]
	path = example-mesh-subdivision-schemes
	url = https://github.com/brgcode/example-mesh-subdivision-schemes
[submodule "example-mesh-subdivision-creased"]
	path = example-mesh-subdivision-creased
	url = https://github.com/brgcode/example-mesh-subdivision-creased.git
[submodule "example-mesh-from-halfspaces"]
	path = example-mesh-from-halfspaces
	url = https://github.com/brgcode/example-mesh-from-halfspaces.git
[submodule "example-oriented-bounding-box"]
	path = example-oriented-bounding-box
	url = https://github.com/brgcode/example-oriented-bounding-box.git
[submodule "example-point-in-box"]
	path = example-point-in-box
	url = https://github.com/brgcode/example-point-in-box.git
[submodule "example-mesh-duals"]
	path = example-mesh-duals
	url = https://github.com/brgcode/example-mesh-duals.git
[submodule "example-network-shortest-path"]
	path = example-network-shortest-path
	url = https://github.com/brgcode/example-network-shortest-path.git
[submodule "example-mesh-splitting"]
	path = example-mesh-splitting
	url = https://github.com/brgcode/example-mesh-splitting.git
[submodule "example-conway-operators"]
	path = example-conway-operators
	url = https://github.com/brgcode/example-conway-operators.git
