[submodule "example-mesh-booleans"]
	path = example-mesh-booleans
	url = https://github.com/brgcode/example-mesh-booleans
[submodule "example_test"]
	path = example_test
	url = https://github.com/Licini/example_test.git
